.waku2{
	height: 150px;
	width: 800px;
}

#p1{
	text-align: center;
	height: 25px;
}

#p2{
	text-align: center;
	height: 25px;
}

.waku4{
	height: 150px;
	width: 500px;
}

#p3{
	text-align: center;
	height: 25px;
}

#p4{
	text-align: center;
	height: 25px;
}

